
/* -----------------
fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --main-color:#eaa023;
    --dark:black;
    --dark-light: #8b6245;
    --white: white;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.5);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

h1{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 500%;
}

h2{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 200%;
}

h3{
    font-family: 'Lobster', cursive;
    color:black;
    font-size: 200%;
}

h4{
    font-family: 'Asap', sans-serif;
    color:black;
    font-size: 100%;
}

p{
    font-family: 'Asap', sans-serif;
    color:white;
    font-size: 150%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:before,
::after{
    box-sizing:border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--white);
}

.container1{
    max-width: 100%;
    background-color: #8b6245;
    margin: auto;
}

.container{
    max-width: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
}

.sec-padding{
    padding: 80px 0;
}

.section-title{
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    
}

.section-title h2{
    font-size: 220%;
    text-transform: capitalize;

}

.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 60%;
    color: #8b6245;
}

.btn{
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 10px;
    background-color: var(--white-light);
    border-radius: 50px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:#8b6245;
    font-size: 150%;
}

.btn:hover{
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 10px;
    background-color:#8b6245;
    border-radius: 50px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:white;
    font-size: 200%;
    transition: 0.7s ease;
}

.btn2{
    display: inline-block;
    padding: 5px 30px;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color:#8b6245;
    border-radius: 50px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:white;
    text-align: center;
    font-size: 120%;
}

.btn2:hover{
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 10px;
    background-color:var(--white-light);
    border-radius: 50px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:#8b6245;
    font-size: 120%;
    transition: 0.7s ease;
}


@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

/*header */
.header{
    box-shadow: 0px 5px var(--shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}

.header .logo{
    background-color: var(--dark-light);
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.header .text{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 200%;
}
.header .nav-toggler{
    height: 34px;
    width: 34px;
    margin-right: 10%;
    cursor: context-menu;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0,5s ease;
    transform: translateX(-50%);
}

.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}

.header .nav-toggler:hover{
    background-color: var(--white-light);
}

.header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}

.header .nav-toggler span::before{
    transform: translateY(-8px);
}

.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.header .nav-toggler span::after{
    transform: translateY(8px);
}

.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}

.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}

.header .nav.open{
    transform: translateX(0%);
}

.header .nav ul li a{
    margin-top: 10%;
    margin-left: 20%;
    display: block;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color: white;
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.7s ease;
}

.header .nav ul li a:hover{
    background-color: var(--white-light);
    color: #8b6245;
}

/*-----home---*/

.home-section{
    position:relative;
}

.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/header2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.home-section .min-vh-100{
    padding: 300px 0;
}

.home-text{

    background-color: rgba(0,0,0,0.5) ;
    padding: 0px 15px;
    max-width: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

/*about*/ 
.about-section{
    background-color: white;
    width: 100%;
    box-shadow: 0px 20px var(--shadow);
}


.about-text,
.about-img{
    width: 100%;
}


.about-text p{
    margin-left: 10%;
    width: 50%%;
    color: black;
    font-size: 130%;
    justify-content: center;
    justify-items: center;
    text-align: left;
}

.about-text .btn{
    margin: 15px 0 0;
}

.about-img img{
    width: 100%;
}

.about-img .img-box{

    position: relative;

}

.about-img .img-box h3{
   position: absolute;
   left: 50%;
   top: 50%;
}

/*menu*/
.menu-section{
    background-color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}

.menu-section .section-title{
    margin-bottom: 40px;
}

.menu-tabs{
    
    padding: 0px 50px 0px 50px;
    width: 100%;
    text-align: center;
  
}

.menu-tab-item{
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:black;
    font-size: 120%;
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-weight: 500;
}

.menu-tab-item:hover{
    justify-content: center;
    background-color: #8b6245;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    color:white;
    font-size: 120%;
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-weight: 500;
}
 
.menu-tab-item.active{
    color:#8b6245;
}
.menu-tab-item.active:hover{
    background-color: #8b6245;
    color:black;
}

.menu-tab-content{
    display: none;
}

.menu-tab-content.active{
    display: flex;
}

.menu-item{
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-item::after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border: 1px dashed #8b6245;
}

.menu-item:nth-last-of-type(2)::after,
.menu-item:nth-last-of-type(1)::after{
    border: none;
}

.menu-item-title{
    
    align-items: center;
    max-width: calc(100% - 5px);
}

.menu-item-title img{
    max-width: 200px;
    margin-right: 10px;
    
}

/* footer */

footer{
    bottom: 0px;
    width: 100%;
    background:#8b6245;
  }
  .main-content{
      margin-left: 5%;
    display: flex;
    color: white;
  }

  .main-content .left,
  .main-content .center,
  .main-content .right{
      text-align: center;
  }

  .main-content .left h4,
  .main-content .center h4,
  .main-content .right h4{
      color: white;
  }

  .main-content .right a{
      color: white;
      width: 25px;
      height: 25px;
      margin-top: 15px;
      margin-right: 15px;
      font-size: 30px;
      cursor: pointer;
  }
 
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }